<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.synapse">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".GlobalVariable"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_synapse"
        android:label="Flack"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrivateChat"></activity>
        <activity android:name=".AddChannelActivity" />
        <activity android:name=".DiscussionActivity" />
        <activity android:name=".MembersActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ChannelsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Signup" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>